html {
    height: 100%;
    width: 100%;
    min-width: 370px;
    font-family: 'Raleway', sans-serif;
}

body {
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    background-attachment: fixed;
    background-image: linear-gradient(150deg, #825fa3 0%, #5c879e 100%);
}

header {
    padding: 1rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    display: block;
    background-color: #00000018;
}

/* adapt elements depending on screen size */
header h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

@media screen and (max-width: 800px) {
    header h1 {
        font-size: 40px;
    }

    button {
        width: 50%;
    }

    .nav_button {
        font-size: 20px;
        padding: 10px 20px;
    }
}


@media screen and (max-width: 400px) {
    header h1 {
        font-size: 30px;
    }

    .nav_button {
        font-size: 15px;
        padding: 10px 15px;
        width: 100%;
    }
}

header #link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


button {
    width: 10rem;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0),
        7px 7px 20px 0px #6d6d6d,
        4px 4px 5px 0px rgba(207, 206, 206, 0.171);
}

/* 15 */
.nav_button {
    background: #b621fe;
    border: none;
    z-index: 1;
}

.nav_button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.534),
        4px 4px 5px 0px rgba(0, 0, 0, .534);
    transition: all 0.3s ease;
}

.nav_button:hover {
    color: #fff;
}

.nav_button:hover:after {
    left: 0;
    width: 100%;
}

.nav_button:active {
    top: 2px;
}

main {
    margin: 2rem;
    padding: 2rem;
    background-color: #ffffff44;
    border-radius: 10px;
    color: #000000;
}

a {
    text-decoration: none;
    color: inherit;
}