html {
    height: 100%;
    width: 100%;
    min-width: 370px;
    font-family: 'Raleway', sans-serif;
    background-color: #e3e3e3;
}

body {
    margin: auto;
    background-size: cover;
    background-attachment: fixed;
    width: 1160px;
}

header {
    padding: 1rem;
    height: fit-content;
    color: #fff;
    background-color: rgb(23, 171, 179);
    display: flex;
    padding-bottom: 3rem;
    margin-bottom: 0;
}


#profil_pic_section {
    display: flex;
    align-items: center;
    margin-left: 5rem;
    align-items: flex-end;
}

#header_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: 15rem;
}

h1 {
    margin-bottom: 0px;
}

#pfp {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
}


#link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.small_icon {
    width: 20px;
}

main {
    display: flex;
    flex-direction: row;
}

#link a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 15px 25px 0 0;
}

#skills {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 1rem;
    background-color: #f5f5f5;
    color: #000000;
}

#skill_listing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0rem 3rem;
}

#skill_listing h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: rgb(23, 171, 179);
    font-weight: 600;
}

.fa-star {
    font-size: 0.9rem;
}

li {
    height: 1.7rem;
}

hr {
    width: 100%;
    height: 1px;
    border-style: none;
    background-color: #e3e3e3;
}

#part_one li {
    list-style: none;
    display: flex;
    align-items: start;
    justify-content: space-between;

}

.description {
    font-weight: 700;
}

ul {
    padding: 0;
}

.clicked {
    color: rgb(23, 171, 179);
}

.rating {
    font-weight: 400;
}

#part_two li {
    list-style: square;
    margin-left: 1.5rem;
}

#part_two li::marker {
    font-size: 25px;
    color: rgb(23, 171, 179);
}


/* about me part of css */
#main_part {
    width: 66%;
    padding: 3rem;
    background-color: #ffffff;
}

#main_part h2 {
    margin-bottom: 1rem;
    color: rgb(23, 171, 179);
    font-weight: 600;
}

#profil_text {
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    text-indent: 2rem;
    text-align: justify;
    margin-bottom: 3rem;
}

#profil_text span {
    display: block;
    text-indent: 2rem;
}

#formation li,
#stages li,
#xp_pro li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 1rem 1rem 1rem 0;
}

.left {
    display: flex;
    flex-direction: column;
}

.lieu {
    font-size: 0.85rem;
    color: #777;
    font-style: italic;
}

.dates {
    color: #17abb3;
    white-space: nowrap;
}

/* footer part of css */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #17abb3;
    color: #ffffff;

}

footer nav {
    display: flex;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
}

#icons {
    margin: auto;
}

#icons img {
    margin-right: 1rem;
    width: 2rem;
}

/* custom hover effect*/

#main_part li:hover {
    background-color: #e3e3e3;
}

#main_part li::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 70px;
    background: #17abb3;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
}

/* show the line on hover */
#main_part li:hover::before {
    opacity: 1;
    transform: scaleY(1);
}

#main_part li:hover .left {
    transform: translateX(1rem);
    transition: transform 200ms ease;
}